<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-satires"><%= link_to "Satire", casein_satires_path %></li>
<li id="tab-editorials"><%= link_to "Editorial", casein_editorials_path %></li>
<li id="tab-others"><%= link_to "Other", casein_others_path %></li>
<li></li>
<li id="tab-events"><%= link_to "Events", casein_events_path %></li>